@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', sans-serif;
}
.bbsText{
    background: radial-gradient(circle farthest-corner at center center, #E98F97 0%, #127B8C 90%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.profile-photo{
    width: 250px;
    height: 250px;
    object-fit: cover;
}